.textocentro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 69%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}


.container-form{
    display: flex;
    justify-content: center;
    height: 505px;
    width: 100%;
    background-color: #DBD7D7;
    
}

.form-dados{
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    height: 90%;
    width: 50%;
    
}

.form-dados label{
    margin-top: 5px;
    font-weight: bold;

}

.form-dados p{
    margin-top: 5px;
    font-weight: bold;

}

.form-dados span{
    color: red;
    font-weight: bold;

}


.modal-login span{
    color: red;
    font-weight: bold;

}

.form-btn{
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}



.form-btn button{
    font-size: 16px;
    font-weight: bold;
    width: 60%;
}


.form-btn-sair{
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

}

.form-btn-sair button{
    font-size: 16px;
    font-weight: bold;
    width: 30%;

}


.form-dados-confirma{
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    height: 4%;
    width: 50%;
    
}

.img-confirma{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    
}

.img-confirma img{
height: 40%;
width: 40%;
}



.logomodal{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #7715C1;
}


.logomodal-img{
    margin-left: 15px;
    
    width: 50px;
}

.logomodal-texto{
    margin-left: 10%;
    font-size: 26px;
    font-weight: bold;
    color: white;

}

.modal-login{
    padding: 15px;
}


.cesta-container{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 475px;
    width: 100%;
    
    border: solid;
    border-radius: 5px;
    border-color: #f4f3f5;
}

.cesta-cards{
    display: flex;
}

.cesta-img{
    height: 80px;
    width: 55px;
}

.cesta-conteudo{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    width: 100%;
}

.cesta-conteudo span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #666666
}



.cesta-cont{
    display: flex;
    flex-wrap: wrap;
}

.cesta-valor{
    width: 70px;
    padding-top: 15px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;

}


.cesta-valor span{
display: flex;
align-items: center;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
color: #666666;
font-weight: bold;
}

.cesta-qtde-div{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cesta-qtde{
    
    padding: 5px;
    height: 40px;
 
    border: solid;
    border-radius: 5px;
    border-color: #f4f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cesta-qtde button{
    background-color: transparent;
    font-size: 30px;
    font-weight: bold;
    margin: 3px;
    opacity: 100%;
    border: none;
}

.cesta-qtde button:hover{
color:  rgb(3, 240, 54);;
}

.cesta-total{
    display: flex;
    flex-wrap: wrap;
}

.cesta-total div{
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.cesta-div-total{
    width: 70%;
}
.cesta-div-valor{
    width: 30%;
}



.cesta-total span{
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.cesta-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.cesta-btn div{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.btn-cesta{
    font-size: 12px;
    width: 100%;
}



.form-qs{
    height:420px;
    display: flex;
    padding: 30px;
    gap: 4%;
}

.qs-imagem{
    
    width: 48%;
}

.qs-imagem img{
    height: 100%;
    width: 100%;
}

.qs-texto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 48%;
}

.qs-texto-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qs-texto-logo img{
    width: 50% ;
}

.qs-texto p{
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 60px;
    text-align: justify;
    color: #666666;
}

.form-dados-compra{
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    height: 90%;
    width: 80%;
    
}


.cab{
    display: flex;
    padding: 0px;
    padding-left: 65px;
    margin: 0px;
    gap: 190px;
}

.cab div{
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.total-compra{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 25px;
}

.total-compra span{
font-size: 24px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: #666666;
}