.textocentro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 69%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}


.container-form{
    display: flex;
    justify-content: center;
    height: 505px;
    width: 100%;
    background-color: #DBD7D7;
    
}

.form-dados{
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    height: 90%;
    width: 50%;
    
}

.form-dados label{
    margin-top: 5px;
    font-weight: bold;

}

.form-dados p{
    margin-top: 5px;
    font-weight: bold;

}

.form-dados span{
    color: red;
    font-weight: bold;

}

.form-btn{
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
}



.form-btn button{
    font-size: 16px;
    font-weight: bold;
    width: 60%;
}


.form-btn-sair{
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

}

.form-btn-sair button{
    font-size: 16px;
    font-weight: bold;
    width: 30%;

}


.form-dados-confirma{
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    height: 4%;
    width: 50%;
    
}

.img-confirma{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    
}

.img-confirma img{
height: 40%;
width: 40%;
}



.logomodal{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #7715C1;
}


.logomodal-img{
    margin-left: 15px;
    
    width: 50px;
}

.logomodal-texto{
    margin-left: 10%;
    font-size: 26px;
    font-weight: bold;
    color: white;

}

.modal-login{
    padding: 15px;
}